@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  /* Base Variables */
  --font-size: 14px;
  --background: #ffffff;
  --primary: #030213;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --border: rgba(0, 0, 0, 0.1);
  --ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
}

/* Base styles */
html,
body {
  height: 100vh;
  overflow-x: hidden;
}

html {
  font-size: var(--font-size);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 89, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 2px 10px rgba(0, 94, 255, 0);
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(0, 72, 255, 0);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(15%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

div.summarize p {
  width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
