version: "3.8"

services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    restart: unless-stopped
    command:
      - "--log.level=info"
      - "--accesslog=true"
      - "--entrypoints.web.address=:80"
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--api.dashboard=true"
      - "--api.insecure=true"
    ports:
      - "80:80"
      - "8080:8080" # Dashboard traefik accessibile su http://localhost:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik_net

  redis:
    image: redis:latest
    container_name: gas-station-redis
    volumes:
      - redis_data:/data
    networks:
      - traefik_net

  iota-gas-station:
    image: "${DOCKER_IMAGE:-iotaledger/gas-station:latest}"
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        - BUILD_DATE=${BUILD_DATE:-latest}
        - GIT_REVISION=${GIT_REVISION:-latest}
    container_name: iota-gas-station
    command: [ "--config-path", "/app/config.yaml" ]
    depends_on:
      - redis
    ports:
      - "9184:9184"
    environment:
      - CONFIG_PATH=/app/config.yaml
      - RUST_BACKTRACE=1
      - GAS_STATION_AUTH=${GAS_STATION_AUTH}
    volumes:
      - ${LOCAL_CONFIG_PATH:-./config.yaml}:/app/config.yaml
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gas.rule=Host(`localhost`) && PathPrefix(`/gas`)"
      - "traefik.http.routers.gas.entrypoints=web"
      - "traefik.http.routers.gas.middlewares=strip-gas-prefix"
      - "traefik.http.middlewares.strip-gas-prefix.stripprefix.prefixes=/gas"
      - "traefik.http.services.gas.loadbalancer.server.port=9527"
    networks:
      - traefik_net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_EXPLORER_URL: ${NEXT_PUBLIC_EXPLORER_URL}
        NEXT_PUBLIC_DAPP_URL: ${NEXT_PUBLIC_DAPP_URL}
        NEXT_PUBLIC_AUDIT_TRAIL_PKG: ${NEXT_PUBLIC_AUDIT_TRAIL_PKG}
        NEXT_PUBLIC_REWARD_WHITELIST_ID: ${NEXT_PUBLIC_REWARD_WHITELIST_ID}
        NEXT_PUBLIC_ADMIN_CAP_ID: ${NEXT_PUBLIC_ADMIN_CAP_ID}
        NEXT_PUBLIC_REFRESH_INTERVAL_MS: ${NEXT_PUBLIC_REFRESH_INTERVAL_MS}
        NEXT_PUBLIC_HAS_REWARD: ${NEXT_PUBLIC_HAS_REWARD}
        NEXT_PUBLIC_NETWORK: ${NEXT_PUBLIC_NETWORK}
        NEXT_PUBLIC_PRODUCT_ID: ${NEXT_PUBLIC_PRODUCT_ID}
        BACKEND_ENDPOINT: ${BACKEND_ENDPOINT}
        BACKEND_API_KEY: ${BACKEND_API_KEY}
        GAS_STATION_URL: ${GAS_STATION_URL}
        GAS_STATION_AUTH: ${GAS_STATION_AUTH}
    depends_on:
      - backend
      - iota-gas-station
    environment:
      BACKEND_ENDPOINT: ${BACKEND_ENDPOINT}
      BACKEND_API_KEY: ${BACKEND_API_KEY}
      GAS_STATION_URL: ${GAS_STATION_URL}
      GAS_STATION_AUTH: ${GAS_STATION_AUTH}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`localhost`)"
      - "traefik.http.routers.frontend.entrypoints=web"
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"
    networks:
      - traefik_net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          memory: 12G
    environment:
      ITH_PKG_ID: ${ITH_PKG_ID}
      API_KEY: ${API_KEY}
      TCP_LISTNER: ${TCP_LISTNER}
      ROOT_AUTH_SECRET_KEY: ${ROOT_AUTH_SECRET_KEY}
      MANUFACTURER_SECRET_KEY: ${MANUFACTURER_SECRET_KEY}
      IOTA_IDENTITY_PKG_ID: ${IOTA_IDENTITY_PKG_ID}
    networks:
      - traefik_net

volumes:
  redis_data:


networks:
  traefik_net:
    driver: bridge
