version: "3.8"

services:

  redis:
    image: redis:latest
    container_name: gas-station-redis
    volumes:
      - redis_data:/data

  iota-gas-station:
    image: "${DOCKER_IMAGE:-iotaledger/gas-station:latest}"
    platform: linux/amd64
    container_name: iota-gas-station
    command: [ "--config-path", "/app/config.yaml" ]
    depends_on:
      - redis
    ports:
      - "9527:9527"  # Gas Station API port
      - "9184:9184"  # Metrics port
    environment:
      - CONFIG_PATH=/app/config.yaml
      - RUST_BACKTRACE=1
      - GAS_STATION_AUTH=${GAS_STATION_AUTH}
    volumes:
      - ${LOCAL_CONFIG_PATH:-./config.yaml}:/app/config.yaml


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"  # Backend API port
    deploy:
      resources:
        limits:
          memory: 12G
    environment:
      HIERARCHIES_PKG_ID: ${HIERARCHIES_PKG_ID}
      API_KEY: ${API_KEY}
      TCP_LISTNER: ${TCP_LISTNER}
      ROOT_AUTH_SECRET_KEY: ${ROOT_AUTH_SECRET_KEY}
      MANUFACTURER_SECRET_KEY: ${MANUFACTURER_SECRET_KEY}
      IOTA_IDENTITY_PKG_ID: ${IOTA_IDENTITY_PKG_ID}
      NEXT_PUBLIC_DAPP_URL: ${NEXT_PUBLIC_DAPP_URL}

volumes:
  redis_data:
