version: "3.8"

services:
  redis:
    image: redis:latest
    container_name: gas-station-redis
    volumes:
      - redis_data:/data
    networks:
      - app_net

  iota-gas-station:
    image: "${DOCKER_IMAGE:-iotaledger/gas-station:latest}"
    platform: linux/amd64
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        - BUILD_DATE=${BUILD_DATE:-latest}
        - GIT_REVISION=${GIT_REVISION:-latest}
    container_name: iota-gas-station
    command: ["--config-path", "/app/config.yaml"]
    depends_on:
      - redis
    ports:
      - "9184:9184" # Metrics port
      - "9527:9527" # Main service port
    environment:
      - CONFIG_PATH=/app/config.yaml
      - RUST_BACKTRACE=1
      - GAS_STATION_AUTH=${GAS_STATION_AUTH}
    volumes:
      - ${LOCAL_CONFIG_PATH:-./config.yaml}:/app/config.yaml
    networks:
      - app_net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    deploy:
      resources:
        limits:
          memory: 12G
    ports:
      - "3001:3001"
    environment:
      - ITH_PKG_ID=${ITH_PKG_ID}
      - API_KEY=${API_KEY}
      - TCP_LISTNER=${TCP_LISTNER}
      - ROOT_AUTH_SECRET_KEY=${ROOT_AUTH_SECRET_KEY}
      - MANUFACTURER_SECRET_KEY=${MANUFACTURER_SECRET_KEY}
    networks:
      - app_net

volumes:
  redis_data:

networks:
  app_net:
    driver: bridge