
.imageCard {
    background: #ffffff;
    border-radius: 12px;
    padding: 16px;
    margin-top: 16px;
  
    width: 100%;
    box-sizing: border-box;
  }
  
  .imageCardContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .imageCardImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
  }
  
  .imageCardText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .imageCardContent {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .imageCardImage {
      width: 200px; 
      flex-shrink: 0;
    }
  
    .imageCardText {
      padding-left: 1.5rem;
      flex: 1;
    }
  }
  
  .detailsCard {
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
    margin-top: 16px;
    width: 100%;
    box-sizing: border-box;

  }
  
  .detailsBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    background: #ffffff;
    border: 1px solid rgba(0, 47, 109, 0.08);
    border-radius: 12px;
    margin-top: 16px; 
  }
  