.card{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 100%;


background: #FFFFFF;
border-radius: 16px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}