.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 64px;
  padding: 24px;
  gap: 24px;
  margin-bottom: 24px;
}

.title {
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  gap: 80px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  background-color: #f7f7f8;
}

.footer {
  display: flex;
  flex-direction: row;           
  justify-content: space-between;
  align-items: center;
  background: var(--background);
  height: auto;
  padding: 1rem 2rem;
  border-top: 1px solid #D9D9D9; 
}

@media (max-width: 420px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #FFFFFF;
  }
}
