.detailsCard {
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
    margin-top: 16px;
    width: 100%;
    box-sizing: border-box;

  }
  
  .detailsBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    background: #ffffff;
    border: 1px solid rgba(0, 47, 109, 0.08);
    border-radius: 12px;
    margin-top: 16px; 
  }

  .dppTypeBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 110px;
    background: #E3EAF6;
    border-radius: 120px;

    flex: none;
    order: 1;
    flex-grow: 0;
  }